.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
/test/examples/assets/image1.png
/test/examples/assets/image2.png
/test/examples/barebones.html
/test/examples/embedded-media.html
/test/examples/math.html
/test/examples/slide-backgrounds.html
/test/qunit-1.12.0.css
/test/qunit-1.12.0.js
/test/test-markdown-element-attributes.html
/test/test-markdown-element-attributes.js
/test/test-markdown-slide-attributes.html
/test/test-markdown-slide-attributes.js
/test/test-markdown.html
/test/test-markdown.js
/test/test.html
/test/test.js
